<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Danh sách bài viết</h1>
    <a href="/new">Viết bài mới</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/post/<%= post.id %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
